.nav {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  margin-right: 50px;
}
