.profile {
  width: 1000px;
  margin: 50px auto;
  height: 500px;
  box-shadow: 0 0 10px black;
  display: grid;
  grid-template-columns: 30% 70%;
}
.imgContainer {
}
.contentContainer {
  padding: 30px;
  background-color: white;
  color: black;
}
dt {
  margin-top: 20px;
}
