.card {
  width: 270px;
  box-shadow: 0 0 10px black;
  padding: 20px 10px;
  text-align: center;
}
.card button {
  margin-left: 10px;
  padding: 7px 20px;
  background: none;
}
.card h4 {
  font-size: 17px;
  color: green;
}
.card :nth-child(4) {
  border: 3px solid green;
  color: green;
}

.card :nth-child(4):hover {
  background-color: green;
  color: white;
}

.card :nth-child(5) {
  border: 3px solid blue;
  color: blue;
}
.card :nth-child(5):hover {
  background-color: blue;
  color: white;
}
.card img {
  transition-property: transform;
  transition-duration: 2s;
}

.card img:hover {
  transform: scale(1.2);
}
